[user]
	name = Richard Frost
	email = $EMAIL
	signingkey = $SIGNINGKEY
[core]
	editor = nvim
	longpaths = true
	# windows
  #sshCommand = C:\\Windows\\System32\\OpenSSH\\ssh.exe
[filter "lfs"]
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	# qubes
	# program = qubes-gpg-client-wrapper
  #windows
  #program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[color]
	ui = auto
[credential]
	# qubes
	# helper = cache
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[diff]
	ignoreSubmodules = dirty
[push]
	followTags = true # push tags
[alias]
	s = status
	a = add
	aa = add --all
	ac = commit -am
	c = commit -m
	f = fetch --all
	u = pull
	p = push
	o = checkout
	d = diff
	l = log
