# [user] # .gitconfig-local
#	name = #$NAME
#	email = #$EMAIL
#	signingkey = #$SIGNINGKEY
[include]
  path = ~/.gitconfig-local

# linux
[core]
  sshCommand = /usr/bin/ssh
[gpg]
	program = gpg
[credential]
  helper = cache --timeout=7200

# qubes
#[gpg]
#  program = qubes-gpg-client-wrapper

# windows
#[core]
#  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
#[gpg]
#  program = C:/Program Files (x86)/GnuPG/bin/gpg.exe

# shared
[init]
	defaultBranch = main
[core]
	editor = nvim
	longpaths = true
[filter "lfs"]
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[commit]
	gpgSign = true
[tag]
	gpgsign = true
[diff]
	ignoreSubmodules = dirty
[push]
  followTags = true
[alias]
	s = status
	a = add
	aa = add --all
	ac = commit -am
	c = commit -m
	f = fetch --all
	u = pull
	p = push
	o = checkout
	d = diff
	l = log
[credential "https://git.squintopera.com"]
	provider = generic

