[include]
  path = ~/.gitconfig-local
#[user]
#	name = #$NAME
#	email = #$EMAIL
#	signingkey = #$SIGNINGKEY

[includeIf "gitdir:/home"]
  path = ~/.gitconfig-linux
[includeIf "gitdir:C:"]
  path = ~/.gitconfig-windows

[init]
	defaultBranch = main
[core]
	editor = nvim
	longpaths = true
[filter "lfs"]
  clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[commit]
	gpgSign = true
[tag]
	gpgsign = true
[diff]
	ignoreSubmodules = dirty
[push]
  followTags = true
[alias]
	s = status
	a = add
	aa = add --all
	ac = commit -am
	c = commit -m
	f = fetch --all
	u = pull
	p = push
	o = checkout
	d = diff
	l = log
