[user]
	name = Name
	email = email@mailbox.org
	signingkey = 0000000000000000
[core]
	editor = nvim
	longpaths = true
	# Windows
	# sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	# Qubes OS
	# program = qubes-gpg-client-wrapper
	# Windows
    # program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[color]
	ui = auto
[credential]
	# qubes OS helper
	# helper = cache
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[diff]
	ignoreSubmodules = dirty
[push]
	followTags = true # push tags
