{
  "host": "{{ onepasswordRead "op://Journey/lazyjira/host" }}",
  "email": "{{ onepasswordRead "op://Journey/lazyjira/email" }}",
  "token": "{{ onepasswordRead "op://Journey/lazyjira/credential" }}",
  "server_type": "cloud"
}
